.p-index .apps {position: absolute;bottom: 0;left: 0;right: 0;margin: auto;overflow: auto;top: 78px;
	background-color: #f0f0f0;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}
.p-index .apps .row {display: -webkit-box;margin: 30px 0;}
.p-index .card-con {}
.p-index .card-con .app {margin: auto;}
.p-index-table-con {max-height: 400px;min-height: 100px;overflow: auto}
.p-index-table-con-agents {max-height: 200px;min-height: 50px;overflow: auto;margin-bottom: 20px;}

.p-index .logo {width: 36px;display: block;vertical-align: baseline;box-sizing: border-box;margin-right: 20px;}
.p-index .slogan {line-height: 36px;font-size:20px;color: #333}